<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PacketPrep</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login_Button_Servlet</display-name>
    <servlet-name>Login_Button_Servlet</servlet-name>
    <servlet-class>Home_Page.Login_Button_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Button_Servlet</servlet-name>
    <url-pattern>/Login_Button_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home_Login_Servlet</display-name>
    <servlet-name>Home_Login_Servlet</servlet-name>
    <servlet-class>home_page.Home_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home_Login_Servlet</servlet-name>
    <url-pattern>/Home_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_up</display-name>
    <servlet-name>Sign_up</servlet-name>
    <servlet-class>packetprep.Controller.Sign_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_up</servlet-name>
    <url-pattern>/Sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>packetprep.Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_Login</display-name>
    <servlet-name>Employee_Login</servlet-name>
    <servlet-class>packetprep.Controller.Employee_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Login</servlet-name>
    <url-pattern>/Employee_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Profile</display-name>
    <servlet-name>View_Profile</servlet-name>
    <servlet-class>packetprep.Controller.View_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Profile</servlet-name>
    <url-pattern>/View_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Profile</display-name>
    <servlet-name>Update_Profile</servlet-name>
    <servlet-class>packetprep.Controller.Update_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Profile</servlet-name>
    <url-pattern>/Update_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>packetprep.Controller.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Apply_Leave_Servlet1</servlet-name>
    <servlet-class>com.example.Apply_Leave_Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apply_Leave_Servlet1</servlet-name>
    <url-pattern>/Apply_Leave_Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveApply_Servlet</display-name>
    <servlet-name>LeaveApply_Servlet</servlet-name>
    <servlet-class>packetprep.Controller.LeaveApply_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveApply_Servlet</servlet-name>
    <url-pattern>/LeaveApply_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve_Leave_Servlet</display-name>
    <servlet-name>Approve_Leave_Servlet</servlet-name>
    <servlet-class>packetprep.Controller.Approve_Leave_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve_Leave_Servlet</servlet-name>
    <url-pattern>/Approve_Leave_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Leavestatus_servlet</display-name>
    <servlet-name>Leavestatus_servlet</servlet-name>
    <servlet-class>packetprep.Controller.Leavestatus_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leavestatus_servlet</servlet-name>
    <url-pattern>/Leavestatus_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeave_Servlet</display-name>
    <servlet-name>AddLeave_Servlet</servlet-name>
    <servlet-class>packetprep.Controller.AddLeave_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeave_Servlet</servlet-name>
    <url-pattern>/AddLeave_Servlet</url-pattern>
  </servlet-mapping>
</web-app>