<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>basic_web_pages.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <display-name>Basic_Web_Projects</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>basic_web_pages.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginagain_Servlet</display-name>
    <servlet-name>Loginagain_Servlet</servlet-name>
    <servlet-class>basic_web_pages.Loginagain_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginagain_Servlet</servlet-name>
    <url-pattern>/Loginagain_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration_Servlet</display-name>
    <servlet-name>Registration_Servlet</servlet-name>
    <servlet-class>basic_web_pages.Registration_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Servlet</servlet-name>
    <url-pattern>/Registration_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>basic_web_pages.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signuphere_Servlet</display-name>
    <servlet-name>Signuphere_Servlet</servlet-name>
    <servlet-class>basic_web_pages.Signuphere_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signuphere_Servlet</servlet-name>
    <url-pattern>/Signuphere_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>basic_web_pages.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie_Servlet</display-name>
    <servlet-name>Cookie_Servlet</servlet-name>
    <servlet-class>cookies.Cookie_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie_Servlet</servlet-name>
    <url-pattern>/Cookie_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome_Servlet</display-name>
    <servlet-name>Welcome_Servlet</servlet-name>
    <servlet-class>cookies.Welcome_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome_Servlet</servlet-name>
    <url-pattern>/Welcome_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session_Servlet</display-name>
    <servlet-name>Session_Servlet</servlet-name>
    <servlet-class>cookies.Session_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session_Servlet</servlet-name>
    <url-pattern>/Session_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>cookies.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
</web-app>